<!DOCTYPE html>
<html lang ="en" dir="ltr">
<head>

	<meta charset="utf-8">
	<title> Side Menu Bar</title>
	<link rel="stylesheet" href="../asset/css/style4O.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

	<input type="checkbox" id="check">
	<label for ="check">

		<i class="fas fa-bars" id="btn"> </i>
		<i class="fas fa-times" id="cancel"> </i>
		

	</label>
	<div class="sidebar">
		<header>Dashboard</header>
		<ul>

		<li> <a href=""> <i class="fas fa-qrcode"></i>Home Page</a> </li>
		<li> <a href="PersonalProfileO.php"> <i class="fas fa-link"></i>View Profile </a> </li>
		<li> <a href="EditProfileO.php"> <i class="fas fa-stream"></i>Edit Profile </a> </li>
	<!-- <li> <a href="#"> <i class="fas fa-calendar-week"></i>Change Profile Picture</a></li> -->
		<li> <a href="ChangePasswordO.php"> <i class="far fa-question-circle"></i>Change Password </a> </li>
		<li> <a href="PassengerDetailsO.php"> <i class="fas fa-sliders-h"></i>Passenger Details </a> </li>
		<li> <a href="ChangeTicketStatusO.php"> <i class="fas fa-envelope"></i>Change Ticket Status </a> </li>
		<li> <a href="TrainScheduleO.php"> <i class="fas fa-qrcode"></i>Make Train schedule</a> </li>
		<li> <a href="VerifyTicketO.php"> <i class="fas fa-qrcode"></i>Verify Ticket</a> </li>
		<li> <a href="SalaryHistoryO.php"> <i class="fas fa-qrcode"></i>Personal Salary History </a> </li>
		<li> <a href="PassengerListByTicketIDO.php"> <i class="fas fa-qrcode"></i>Passenger List By Ticket ID </a></li>
		<li> <a href="PassengerListByTrainO.php"> <i class="fas fa-qrcode"></i>Passenger List By Train </a> </li>
		<li> <a href="FareForRouteO.php"> <i class="fas fa-qrcode"></i>Display Fare For A Route </a> </li>
		<li> <a href="UpdateFareForRouteO.php"> <i class="fas fa-qrcode"></i>Update Fare For A Route </a></li>
		<li> <a href="NewAddTrainO.php"> <i class="fas fa-qrcode"></i>Add New Train To Route</a> </li>
		<li> <a href="RemoveTrainO.php"> <i class="fas fa-qrcode"></i>Remove Train From route</a> </li>
		<li> <a href="SearchTrainByIDO.php"> <i class="fas fa-qrcode"></i>Search Train By ID</a> </li>
		<li> <a href="indexO.html"> <i class="fas fa-qrcode"></i>Logout</a> </li>

		</ul>
		
	</div>
	<section> </section>

</body>
</html>