<!DOCTYPE html>
<html>
<head>
	<title> Dashboard</title>
	<link rel="stylesheet" href="../asset/css/style2O.css">
</head>
<body>
	<h1 class="new" style="font-size: 25px; text-align :center; color:green"> Railway Management & E-Ticketing System</h1>
	<div id = "new">
		<nav>
			
			<ul>
				<li> <a style="font-size: 20px; color: blue" href="LoginO.php">Login</a> </li>
				<li> <a style="font-size: 20px; color: #8E2CDA" href="RegistrationO.php">Signup</a> </li>
				<li> <a style="font-size: 18px" href="#">Gallery</a> </li>
				<li> <a style="font-size: 18px" href="http://www.railway.gov.bd/">Website</a> </li>
				<li> <a style="font-size: 18px; color: #07d104 ; font-weight:italic" href="#">Contact</a> </li>

			</ul>

		</nav>
		
	</div>

</body>
</html>  