.mainDivFormDis{
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 8%;
    padding-top: 0%;
}
.mainDivFormAdd{
    margin-left: 20% !important;
}
.mainDivFormRemove{
    margin-left: 11% !important;

}